{% extends '::layout.html.twig' %}



{% block content %}
    {{ parent() }}

    {{ render(controller('NfqWeDriveBundle:Map:index')) }}

    <nav id="user_bar" class="navbar navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <a class="navbar-brand" href="#">weDrive</a></div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-th-list"></span>&nbsp;My Routes</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">
                                    New Route</a>
                            </li>
                            <li>
                                <a href="#">
                                    Manage</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-envelope"></span>&nbsp; Notifications
                            <span class="badge">2</span></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Jane wants to join you <br/>(2014-04-02, Antakalnis)
                                    <div class="btn-group btn-group-xs this">
                                        <button type="button" class="btn btn-success">Accept</button>
                                        <button type="button" class="btn btn-danger">Decline</button>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">Peter is searching same route like yours
                                    <div class="btn-group btn-group-xs this">
                                        <button type="button" class="btn btn-info">Okay</button>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                    class="glyphicon glyphicon-user"></span>&nbsp;Jonas</a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#">Profile</a>
                            </li>
                            <li>
                                <a href="#">Log out</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div id="contentHolder">
        <div>
            <div class=" main_info">

                {% block list %}
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
