{% extends '::layout.html.twig' %}

{% block content %}
    {{ parent() }}
    {% include 'NfqWeDriveBundle:Navbar:navbar.html.twig' %}
    {% set errors = app.request.session.flashBag.get('error') %}
    {% for error in errors %}
            <p id="flashbag" class="bg-danger">
            {{ error }}
            </p>
    {% endfor %}
    <div id="contentHolder">
        <div class=" main_info">
            {% block time %}
                <div class="col-lg-8">
                    <h3 id="txt"></h3>
                </div>
            {% endblock %}
            <div class="col-lg-12">
                <!-- Panel ---------------->
                {% block panel %}
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h3 id="list_title"
                                class="panel-title"> {% block panel_title %} {% endblock %} </h3>
                            {% block panel_title_button %}
                            {% endblock %}
                        </div>
                        <div class="panel-body">
                            <div class="widget-container table-responsive">
                                <!-- Table ---------------->
                                {% block panel_body %}
                                {% endblock %}
                            </div>
                        </div>
                    </div>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
