<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome to weDrive!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}

    {% stylesheets '@NfqWeDriveBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}"/>
    {% endstylesheets %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}

{% javascripts '@NfqWeDriveBundle/Resources/public/js/*'%}

<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
</body>
</html>
