<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome to weDrive!{% endblock %}</title>
    {% block stylesheets %}
        {% stylesheets '@NfqWeDriveBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
{% block body %}{% endblock %}

{% block javascripts %}
    {% javascripts '@NfqWeDriveBundle/Resources/public/js/jquery-2.1.0.min.js'
 '@NfqWeDriveBundle/Resources/public/js/bootstrap.min.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

</body>
</html>
