<table class="table table-hover table-striped order-table table-green">
    <tr>
        <td class="table-profile-fieldname">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}</td>
        <td>{{ user.username }}</td>
    </tr>
    <tr>
        <td class="table-profile-fieldname">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}</td>
        <td>{{ user.email }}</td>
    </tr>
</table>
