{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel %}
    <div class="panel panel-primary">

        <ul class="nav nav-tabs">
            <li class="active"><a href="#available_trips" data-toggle="tab">Available trips</a></li>
            <li><a href="#joined_trips" data-toggle="tab">Already joined</a></li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">

            {#<script type="text/javascript">#}
                {#tripPoints = [];#}
            {#</script>#}

            <div class="tab-pane fade in active" id="available_trips">
                    {% include 'NfqWeDriveBundle:Trip:availableTripList.html.twig' with {'tripList' : availableTripList } only %}
            </div>

            <div class="tab-pane fade" id="joined_trips">
                    {% include 'NfqWeDriveBundle:Trip:joinedTripList.html.twig' with {'tripList' : joinedTripList } only %}
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $(document).on('click', ".tripButton", function (event) {
            event.preventDefault();

            if (confirm("Are you sure?")) {
                console.log($('#' + this.id).attr('action'));

                $.ajax({
                    type: "POST",
                    url: $('#' + this.id).attr('action'),
                    dataType: 'json',
                    success: function (data) {
                        $('#available_trips').load("{{ path('nfq_wedrive_ajax_availableTrip_list') }}");
                        $('#joined_trips').load("{{ path('nfq_wedrive_ajax_joinedTrip_list') }}");
                    }
                });
            }
        });
    </script>
{% endblock %}
