{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}
{% block  my_trip_list %} {% endblock %}
{% block  my_route_list %} {% endblock %}
{% block  my_notifications %} {% endblock %}

{% block panel_title %} Available trips {% endblock %}
{% block panel_body %}
    {% set show_join_column = 'false' %}
    {#{% include 'NfqWeDriveBundle:Trip:availableTripList.html.twig' with {'tripList' : availableTripList, 'show_join_column':'true' } only %}#}
    <script>
        $(document).ready(function () {
            var interval = 500;   //number of mili seconds between each call
            var lastPickedRoute;
            var refresh = function() {
                $.ajax({
                    url: "{{ path('nfq_wedrive_ajax_availableTrip_observer_list') }}",
                    cache: false,
                    success: function(html) {
                        $("#observer-trip-list").html(html);
                        $(".tripRow").each(function () {
                            $(this).click(function () {
                                var tripId = $(this).attr('id');
                                if (tripId != lastPickedRoute) {
                                    var coords = tripPoints[tripId];
                                    displayRoute(coords);
                                    lastPickedRoute = tripId;
                                    console.log("click");
                                }
                            })
                        });
                        setTimeout(function() {
                            refresh();
                        }, interval);
                    }
                });
            };
            refresh();
        });

    </script>
    <div id="observer-trip-list"></div>
{% endblock %}