{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}
{% block  my_trip_list %} {% endblock %}
{% block  my_route_list %} {% endblock %}
{% block  my_notifications %} {% endblock %}

{% block panel_title %} Available trips {% endblock %}
{% block panel_body %}
    {% set show_join_column = 'false' %}
    {#{% include 'NfqWeDriveBundle:Trip:availableTripList.html.twig' with {'tripList' : availableTripList, 'show_join_column':'true' } only %}#}
    <script>
            var routeInterval = 4000;
            var currentShownRoute = 0;
            var switching = false;

            var startSwitching = function () {
                var tripList = $("#AvailableTrips").children('tr');
                $(tripList[currentShownRoute]).addClass('bg-info');
                var tripId = $(tripList[currentShownRoute]).attr('id');
                var coords = tripPoints[tripId];
                displayRoute(coords);

                setInterval(function () {
                    var tripList = $("#AvailableTrips").children('tr');
                    $(tripList[currentShownRoute]).removeClass('bg-info');
                    if (tripList.length - 1 > currentShownRoute) {
                        currentShownRoute++;
                    } else {
                        currentShownRoute = 0;
                    }
                    $(tripList[currentShownRoute]).addClass('bg-info');
                    var tripId = $(tripList[currentShownRoute]).attr('id');
                    var coords = tripPoints[tripId];
                    displayRoute(coords);
                }, routeInterval);
                switching = true;
            };

        $(document).ready(function () {
            var interval = 10000;   //number of mili seconds between each call
            var lastPickedRoute;

            var refresh = function () {
                $.ajax({
                    url: "{{ path('nfq_wedrive_ajax_availableTrip_observer_list') }}",
                    cache: false,
                    success: function (html) {
                        $("#observer-trip-list").html(html);
                        $(".tripRow").each(function () {
                            $(this).click(function () {
                                var tripId = $(this).attr('id');
                                if (tripId != lastPickedRoute) {
                                    var coords = tripPoints[tripId];
                                    displayRoute(coords);
                                    lastPickedRoute = tripId;
                                }
                            });
                            if (!switching) {
                                startSwitching();
                            }
                        });
                        setTimeout(function () {
                            refresh();
                        }, interval);
                    }
                });
            };
            refresh();
        });

    </script>
    <div id="observer-trip-list"></div>
{% endblock %}
