{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}
{% block  my_trip_list %} {% endblock %}
{% block  my_route_list %} {% endblock %}
{% block  my_notifications %} {% endblock %}

{% block panel_title %} Available trips {% endblock %}
{% block panel_body %}
    {% set show_join_column = 'false' %}
    {#{% include 'NfqWeDriveBundle:Trip:availableTripList.html.twig' with {'tripList' : availableTripList, 'show_join_column':'true' } only %}#}
    <script>
        $(document).ready(function () {
            var interval = 10000;   //number of mili seconds between each call
            var lastPickedRoute;
            var refresh = function() {
                $.ajax({
                    url: "{{ path('nfq_wedrive_ajax_availableTrip_observer_list') }}",
                    cache: false,
                    success: function(html) {
                        $('#trip-list').html(html);
                        setTimeout(function() {
                            refresh();
                        }, interval);
                    }
                });

                $("trip-list").ready(function(){
                    alert("ready");

                });
                $(".tripRow").each(function () {
                    $(this).click(function () {
                        var tripId = $(this).attr('id');
                          if (tripId != lastPickedRoute) {
                            var coords = tripPoints[tripId];
                            displayRoute(coords);
                            lastPickedRoute = tripId;
                        }
                    })
                });
            };
            refresh();
        });

    </script>
    <div id="trip-list"></div>
{% endblock %}