{% extends 'NfqWeDriveBundle:Base:base.html.twig' %}

{% block panel_title %}
    My routes
{% endblock %}

{% block panel_title_button %}
<a href = "{{ path('nfq_wedrive_route_add') }}" id="new_btn" type="button" class="btn btn-primary btn-sm" id="btn_new_trip" data-toggle="modal">
        <span class="glyphicon glyphicon-plus"></span>
    </a>
{% endblock %}

{% block panel_body %}
    <table class="table table-hover table-striped order-table table-green" id="tasktable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Destination</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody id="RouteBody">
        {% for route in routes %}
            <tr>
                <td>{{ route.name }}</td>
                <td>{{ route.destination }}</td>
                <td>
                    {#<button type="button" class="btn btn-danger btn-xs">&nbsp;&nbsp;&nbsp;Delete&nbsp;&nbsp;&nbsp;</button>#}
                    <a href="{{ path('nfq_wedrive_route_delete',{'routeId':route.id}) }}" class="btn btn-warning btn-xs">Manage</a>
                </td>
                <td>
                    <button type="button" class="btn btn-success btn-xs"><span
                                class="glyphicon glyphicon-chevron-right"></span></button>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
