#login_form_container {
  max-width: 300px;
  margin: 0 auto; }

.form-login input[type="text"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0; }

.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0; }

.nav_bar_notification {
  padding-right: 60px !important; }

